.env
db.sqlite3
# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.git-rewrite

debug.log

# migration files
# **/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/*
*.pyc
*.pyo
*.pyd

# logs
*.log
logs/
*.log.*
debug.log


google_test.html


venv/

google.html
/media/